<html>
<!-- CONFIG is done in  node_components\views\adminconfig.js -->
<head>
<!-- <script src="/socket.io/socket.io.js"></script> -->

<script src="../../dependencies/jquery/jquery.js"></script>
<link rel="stylesheet" href="../../dependencies/fontawesome/css/all.css"/>
<script src="../../dependencies/dhtmlx/dhtmlx.js"></script>
<link rel="stylesheet" href="../../dependencies/dhtmlx/8.0.0/suite.css" type="text/css"/>
<script src="../../dependencies/dhtmlx/8.0.0/suite.js"></script>

<link rel="stylesheet" href="../../dependencies/dhtmlx/id="theme_loader" type="text/css">
<script>
    //theme changeer
    if (localStorage.global_skin_dark == "1"){
        try{
            document.querySelector("#theme_loader").href = document.querySelector("#theme_loader").href.replace("dhtmlx.css","dhtmlx_benjamin.css")
        }catch(ex){}
        try{
            dhx.setTheme("dark");
        }catch(ex){}
        try{
            dhx8.dhx.setTheme("dark");
        }catch(ex){}
    }
</script>

<link href="../../dependencies/MaterialDesign-Webfont-7.2.96/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />


<style>
    /* it's important to set width/height to 100% for full-screen init */
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        overflow: hidden;
    }

    .documentation{
        font-family:Tahoma;
        font-size:12px;
        margin-left:20px;
        white-space: pre-wrap;
        height:100%;
        overflow:auto;
    }
</style>

<script>

/* GLOBALS */
var m_mainLayout,m_mainForm;
var m_needreload = false; //iframe can signal us to reload
var m_sidebar;


//var socket = io();
/* build basic page layout and init periodic job loading*/
function init(){
    // socket.on('admin', function(msg){
    //     //todo: do we really need to use socket here?
    //     dhtmlx.message(msg);
    // });
    const layout = new dhx.Layout(document.body, {
        type: "line",
        cols: [
            {
                id: "sidebar",
                width:  "content"
            },
            {
                id: "content",
            }
        ]
    });

    const sidebarconfig = [
        {
            id: "webui_setup.html",
            value: "WebUI",
            icon: "mdi mdi-view-dashboard"
        },
        {
            id: "jobviewer_variable_columns.html",
            value: "Job Viewer Columns",
            icon: "mdi mdi-view-column-outline"
        },
        {
            id: "usermanager.html",
            value: "Users",
            icon: "mdi mdi-account-group"
        },
        {
            id: "/webinterface/components/admin/browselocation_setup.html",
            value: "Locations",
            icon: "mdi mdi-folder-eye"
        },
        {
            id: "/webinterface/components/admin/network_setup.html",
            value: "Network",
            icon: "mdi mdi-access-point-network"
        },
       
    ]
    const sidebar = new dhx.Sidebar(null, {
        css: "dhx_widget--border_right",
        collapsed: false
    });
    sidebar.data.parse(sidebarconfig);
    m_sidebar = sidebar;
    //sidebar.collapse();
    
    if (localStorage.getItem("admin_sidebar_item")){
        sidebar.select(localStorage.getItem("admin_sidebar_item"));
        layout.getCell("content").attachHTML('<iframe height="100%" width="100%" style="border:none" src="'+localStorage.getItem("admin_sidebar_item")+'"></iframe>');
    }

    sidebar.events.on("click", function(id,e){
        sidebar.select(id);
        layout.getCell("content").attachHTML('<iframe height="100%" width="100%" style="border:none" src="'+id+'"></iframe>');
        localStorage.setItem("admin_sidebar_item",id)
    });

    layout.getCell("sidebar").attach(sidebar);

    function loadTabUrl(id){
        m_mainTabBar.tabs(id).attachURL(id);
    }

    return;

    m_mainLayout = new dhtmlXLayoutObject({
        parent: document.body,
        pattern: "2U"
    });
    m_mainLayout.cells("b").setText("Documentation");
    m_mainLayout.cells("b").attachObject("documentation");

    //m_mainLayout.cells("a").setWidth();
    var m_mainTabBar = m_mainLayout.cells("a").attachTabbar({
        mode:               "top",
        align:              "left",
        close_button:       true,
        content_zone:       true,
        onload:             function(){},
        arrows_mode:        "auto" ,
        tabs: [ // tabs config
            {id:"serverconfig",text:"Server Configuration",width:null,index:0,active:true,enabled: true,close:false,},
            {id:"/webinterface/admin/usermanager.html",text:"Users",width:null,index:1,active:false,enabled: true,close:false},
            {id:"/webinterface/admin/browselocation_setup.html",text:"Locations",width:null,index:2,active:false,enabled: true,close:false},
            /*{
                id:"upload",text:"Upload",width:null,index:1,active:false,enabled: true,close:false
            },*/
        ]
    });

    m_mainTabBar.attachEvent("onSelect", function(id, lastId){
        // your code here
        if (id == "serverconfig")
            buildServerConfigTab(m_mainTabBar);
        else
            loadTabUrl(id);

        return true;
    });

    function loadTabUrl(id){
        m_mainTabBar.tabs(id).attachURL(id);
    }

}

function buildServerConfigTab(m_mainTabBar){
    m_mainTabBar.tabs("serverconfig").detachMenu();
	var m_fileBrowseGridMenu = m_mainTabBar.tabs("serverconfig").attachMenu({
		items:[
            {id:"save", text:"<i class='fas fa-save'></i>Save"},
			//{id:"default", text:"<i class='fas fa-backspace'></i>Load Default Config"},
		]
	});

    //mainform
    m_mainForm  = m_mainTabBar.tabs("serverconfig").attachForm();

    // json/xml from server with callback
    m_mainForm.loadStruct("/adminconfig", function(){ });

	m_mainForm.attachEvent("onButtonClick", function(name){
		console.log("mainform button click" + name);
		if (name == "btn_adconfig"){
			showConfigWindow("Activedirectory Config","activedirectory_setup.html");
		}
		if (name == "btn_email_alert_config"){
			showConfigWindow("Email Alert Config","email_alert_setup.html");
		}
		if (name == "btn_purge_history"){
			dhtmlx.confirm({
                title: "Delete ALL Jobs",
                type: "confirm-error",
                text: "Really delete ALL Jobs?",
                callback: function(yesno) {
                    if (yesno) {
                        socket.emit("deletealljobs"); //note, custom structure for socket.emit messages
                    }
                } //callback
            }); //confirm
		}
        if (name == "btn_open_database_maintenance"){
			showConfigWindow("Database Maintenance","database_maintenance.html");
		}
        if (name == "btn_browse_locations"){
			showConfigWindow("Browse Locations","browselocation_setup.html");
		}
        //btn_export_history
        //btn_purge_history

	});

    m_fileBrowseGridMenu.attachEvent("onClick", function (name, value, state){
            if (name == 'save'){
                m_mainForm.send("/adminconfig", function(loader, response){
					window.location.reload()
					//m_mainForm  = m_mainTabBar.tabs("serverconfig").attachForm();
                    //m_mainForm.loadStruct("/adminconfig", function(){ });
                });
            }
            if (name == 'default'){

            }
    });

	window.setInterval(function(){
		if (m_needreload){m_fileBrowseGridMenu.setItemDisabled("save");}
	},500)
}

function showConfigWindow(win_text,win_url){
	var myWins = new dhtmlXWindows();
	w1 = myWins.createWindow("w1",100,100,800,600);
	w1.setText(win_text)
	w1.attachURL(win_url);
	myWins.attachEvent("onClose", function(win){
		//we reload to get the updated config from ad window
		window.location.reload();

	});
}
</script>

</head>
<body onload="init()">
    <!-- <div style="width: 100%; overflow: hidden;">
        <div style="height: 100%;width:150px;float:left" id="sidebar"></div>
        <iframe style="margin-left: 620px;width:100%;height:100%" src="/webinterface/admin/usermanager.html"></iframe>
   </div> -->


<div style="display:none" id="documentation" class="documentation">

<b>Data Purging</b>
Soft delete all jobs. This action only applies to webinterface but not to FFAStrans.
For example, you can keep all jobs in the FFAStrans log but delete from being displayed here.
If you want to re-import deleted jobs from FFAStrans, please stop webinterface service and delete database/jobs file.

<b>STATIC_SEND_EMAIL_ALERTS</b>
Sends out an email "FFAStrans is down" in case the running jobs cannot be fetched from FFAStrans.
Also sends out an email "FFAStrans is running again" when the error was recovered.
Note that you have to configure smtp server details in FFAStrans.

<b>STATIC_WEBUI_HEADER_NAME</b>
This is for the case when you have multiple instances of ffastrans and webserver running.
What you input here will show on the main page top left, it is used to let users quickly identify to which instance of ffastrans the webinterface is conntected.
For example, if you have one TEST, Pre-prod, and Production instance, you would enter those names here.
After changing, if the vaule top left does not refresh, press CTRL+R to reload your page and override browser cache.

<b>STATIC_WEBSERVER_LISTEN_PORT</b>
The Port that the webserver (not ffastrans) will listen on. Typical value: 80
Note: make sure the port you are entering is free on your server by using netstat on the commandline and check if anything is LISTENING on the port you desire
Webserver restart required after change

<b>STATIC_WEBSERVER_ENABLE_HTTPS</b>
Disables HTTP and enables HTTPS. You will need to provide certificate and private key pem files, see /webserver/certs/how-to.txt
Note, after enabling this, you must enter https://localhost:3002

<b>STATIC_WEBSERVER_HTTPS_PK_PASSWORD</b>
When using HTTPS and your own certificate, the Privatekey password goes here.

<b>STATIC_USE_WEB_AUTHENTIFICATION</b>
<a href="/webinterface/admin/usermanager.html"><b>Create Users here before (and after) enabling this option</b></a>
Enables password login for users and admins. <b>Make sure you have a created a user before you enable this or you cannot access the webserver anymore at all. </b>
In case you locked yourself out, open the database using a text editor (%installpath%\database\config) and set the authentification to false.

<b>ACTIVE DIRECTORY CONFIGRUATION</b>
You can enter the FQDN of your domain, e.g. mydomain.local
If you do this and enable Web_Authentification, users can log in using their AD username and password.
Each time a user logs in, it will be deleted and recreated in the internal database (but not storing the password).
In Usermanager, just create GROUPS with the exact same name as some AD group. If the logged in AD user is MemberOf some group in AD that also exists locally, the corresponding group rights are applied.

<b>STATIC_UPLOADPATH</b>
Make sure that all paths end with a backslash!
Users can upload files through the webinterface. This is where the uploaded files go to from perspective of the server where the webserver is installed on.
Make sure ffastrans can access the path where uploads go

<b>STATIC_ALLOWED_BROWSE_LOCATIONS_DISPLAY_NAMES</b>
Users can browse file repositories from the server on the webinterface. Here you configure what users will see in the File browsers "location" dropdown.
Multiple entries must be comma-separated (csv).
Make sure you have exactly the same amount of DISPLAY names as for the BROWSE_LOCATIONS below.

Example1: SOMEVALUE
Example2: FIRSTVALUE,SecondValue

<b>STATIC_ALLOWED_BROWSE_LOCATIONS</b>
Make sure that all paths end with a backslash!
See above, please make sure there are the same number of display_names and browse_locations configured.
This is a list of comma-separated locations.

Example1: D:\
Example2: \\FIRSTServer\share\folder\,\\SecondServer\share\

<b>STATIC_API_HOST</b>
FFAstrans Server, use localhost if this webserver runs on the same server as your main ffastrans server.

<b>STATIC_API_PORT</b>
FFAStrans API port, typically 65445

<b>STATIC_API_TIMEOUT</b>
Milliseconds after calls to the API Host will Timeout and show a corresponding error Message on the Interface to users

<b>STATIC_RUNNING_GRID_COL_WIDTHS_PERCENT</b>
Initial grid column width percentage. Deprecated as we restore the last width anyways.

<b>STATIC_MAX_HISTORY_JOB_COUNT</b>
How many jobs to keep in webinterface jobs database. Does not have influence on the FFAStrans internal job history.

<b>Important Informations: </b>
Database:
All values of this configuration and users are stored in this file %installpath%\database\config
You can always manually edit this file and restart the server. Also backing up this file might make sense in some cases

</p>
</div>
</body>