<html>
<head>
<link rel="stylesheet" href="/alternate-server/css/override.css"/>
<script src="/socket.io/socket.io.js"></script>

<script src="../../dependencies/dhtmlx/8.0.0/suite.umd.js"></script>
<link rel="stylesheet" href="../../dependencies/dhtmlx/8.0.0/suite.css" type="text/css"/> 
<script src="../../dependencies/dhtmlx/dhtmlx.js"></script>
<link rel="stylesheet" href="../../dependencies/dhtmlx/dhtmlx.css" id="theme_loader" type="text/css">
<script>
    //theme changeer
    if (localStorage.global_skin_dark == "1"){
        try{
            document.querySelector("#theme_loader").href = document.querySelector("#theme_loader").href.replace("dhtmlx.css","dhtmlx_benjamin.css")
        }catch(ex){}
        try{
            dhx.setTheme("dark");
        }catch(ex){}
        try{
            dhx8.dhx.setTheme("dark");
        }catch(ex){}
    }
</script>

<script src="../../dependencies/jquery/jquery.js"></script>
<link rel="stylesheet" href="../../dependencies/fontawesome/css/all.css"/>
<style>
    /* it's important to set width/height to 100% for full-screen init */
    html, body {
        width: 100%;
        height: 100%;
        margin: 0px;
        overflow: hidden;
    }
    
  /*layout headers (big blue lines)*/        
  .dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr{
    height:25px;
    line-height: 23px;
    font-size : 12px;
  }
  
  /*collapse icon in layout header*/
  .dhxlayout_base_material div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_ha{
    background-position: -32px -5px;
    z-index: 1;
    margin-top: -3;
  }
  /*collapse icon in layout header*/
  div.dhx_cell_layout div.dhx_cell_hdr div.dhxlayout_arrow.dhxlayout_arrow_vb{
    margin-top: -8px;
    z-index: 1;
  }

  .documentation{
    height:100%;
    overflow:auto;
  }
  
</style>
<script>

/* GLOBALS */
var m_mainLayout,m_usergrid,m_groupgrid,m_userPropsGrid,m_permissiongrid,m_groupPropsGrid;
var socket = io();

/* build basic page layout and init periodic job loading*/
function init(){
    socket.on('admin', function(msg){
     dhtmlx.message(msg);
    });
    
    var rootLayout = new dhtmlXLayoutObject({
        parent: document.body,  
        pattern: "2U"           
    });
    
    m_mainLayout = new dhtmlXLayoutObject({
        parent: document.body,  
        pattern: "4G"           
    });
    m_mainLayout.cells("b").setText("Users");
    m_mainLayout.cells("a").setText("Groups");
    m_mainLayout.cells("c").setText("All Group Permissions");
    m_mainLayout.cells("d").setText("Documentation");
    m_mainLayout.cells("c").collapse();

    //var right_layout = m_mainLayout.cells("d").attachLayout("2E");
    //right_layout.cells("a").setText("");
    //right_layout.cells("b").setText("Documentation");
    m_mainLayout.cells("d").attachObject("documentation");
    
    
    //m_mainLayout.cells("d").attachObject("Groups");
    //m_mainLayout.cells("d").showInnerScroll();
    
	m_usergrid = m_mainLayout.cells("b").attachGrid();
    m_usergrid.setImagePath("dependencies/dhtmlx/imgs");                 
    m_usergrid.setHeader("Username");//the headers of columns  
    m_usergrid.setInitWidthsP("100");          //the widths of columns  
    m_usergrid.setColAlign("left");       //the alignment of columns   
    m_usergrid.setColTypes("ro");                //the types of columns  
    m_usergrid.setColSorting("str");          //the sorting types    
    m_usergrid.enableDragAndDrop(true);
    m_usergrid.init();      //finishes initialization and renders the grid on the page 
	
    m_groupgrid = m_mainLayout.cells("a").attachGrid();
    m_groupgrid.setImagePath("dependencies/dhtmlx/imgs");                 
    m_groupgrid.setHeader("Groupname");//the headers of columns  
    m_groupgrid.setInitWidthsP("*");          //the widths of columns  
    m_groupgrid.setColAlign("left");       //the alignment of columns   
    m_groupgrid.setColTypes("ro");                //the types of columns  
    m_groupgrid.setColSorting("str");          //the sorting types    
    m_groupgrid.enableDragAndDrop(true);
    m_groupgrid.init();      //finishes initialization and renders the grid on the page 

    m_permissiongrid = m_mainLayout.cells("c").attachGrid();
    m_permissiongrid.setImagePath("dependencies/dhtmlx/imgs");                 
    m_permissiongrid.setHeader("Permission name");//the headers of columns  
    m_permissiongrid.setInitWidthsP("*");          //the widths of columns  
    m_permissiongrid.setColAlign("left");       //the alignment of columns   
    m_permissiongrid.setColTypes("ro");                //the types of columns  
    m_permissiongrid.setColSorting("str");          //the sorting types    
    m_permissiongrid.enableDragAndDrop(true);
    m_permissiongrid.enableMultiselect(true);
    m_permissiongrid.init();      //finishes initialization and renders the grid on the page 
	
	
    m_groupgrid.attachEvent("onDrag",function(sid,tid){
    // copies an item instead of moving it
        m_groupgrid.dragContext.mode="copy"; 
        return true;
    });

    m_permissiongrid.attachEvent("onDrag",function(sid,tid){
    // copies an item instead of moving it
        m_permissiongrid.dragContext.mode="copy"; 
        return true;
    });
    
	m_usermenu = m_mainLayout.cells("b").attachMenu({                                               
		items:[
            {id:"add", text:"<i class='fas fa-plus-square'></i>Create User"},
            {id:"del", text:"<i class='fas fa-trash'></i>Delete"},
		]
	});

	m_groupmenu = m_mainLayout.cells("a").attachMenu({                                               
		items:[
            {id:"add", text:"<i class='fas fa-plus-square'></i>Create Group"},
            {id:"del", text:"<i class='fas fa-trash'></i>Delete"},
		]
	});
    
//CREATE NEW USER
    m_usermenu.attachEvent("onClick", function (name, value, state){
            if (name == 'add'){
                //open messagebox and save data on server
                var box = dhtmlx.modalbox({
                    title:"Create New User",
                    text: "User name: &nbsp<input class='inform' type='text'><p><br/>Password: &nbsp<input class='inform' type='password'>",
                    buttons:["OK",  "Cancel"],
                    callback: function(result){
                        if (result == 0){
                            var username = box.getElementsByTagName("input")[0].value;
                            var password = box.getElementsByTagName("input")[1].value;
                            $.ajax({//creating a new user requires a special method on server for hashing password
                                url:  ("/userlistnew"),
                                type: "POST",
                                context: this,
                                dataType: "json",
                                data: {"name":username,"password":password,"groups":[]},
                                success: function () {
                                    loaduserlist();
                                    dhtmlx.message("Saved");
                                },
                                error: function (xhr, status) {
                                    dhtmlx.message("Fatal error, could not save usergrouplist, check server logs " );
                                    document.body.innerHTML="Fatal error, could not save usergrouplist. "+ xhr.responseText;
                                }
                            });
                        }
                    }
                });
            }
            if (name == 'del'){
                deleteuser();
            }
    });  
//CREATE NEW GROUP    
    m_groupmenu.attachEvent("onClick", function (name, value, state){
            if (name == 'add'){
                //open messagebox and save data on server
                var box = dhtmlx.modalbox({
                    title:"Create New Usergroup",
                    text: "Group name  <br/><input class='inform' type='text'>",
                    buttons:["OK",  "Cancel"],
                    callback: function(result){
                        if (result == 0){
                            var value = box.getElementsByTagName("input")[0].value;
                            var _obj ={};
                            _obj.name = value;
                            _obj.permissions = [];
                            dhtmlx.message(JSON.stringify(_obj))
                            saveUserGroupToServer(_obj,true);
                        }
                    }
                });
                   
            }
            if (name == 'del'){
                deleteusergoup();
            }
    });      
    
    m_groupgrid.attachEvent("onDrop",function(sId,tId,dId,sObj,tObj,sCol,tCol){
        //disallow drag&drop rows to self   
            dhtmlx.message("Please first select a group on the left and then drag from \"Group Permissions\" to the right side")
            tObj.deleteRow(dId);//row was already pasted, delete it!
    })
    m_permissiongrid.attachEvent("onDrop",function(sId,tId,dId,sObj,tObj,sCol,tCol){
        //disallow drag&drop rows to self   
            dhtmlx.message("Please first select a group on the left and then drag from \"Group Permissions\" to the right side")
            tObj.deleteRow(dId);//row was already pasted, delete it!
    })
    
    

    m_permissiongrid.attachEvent("onRowSelect", function (rId){
        //show properties on the right side
        //showGroupProps(m_groupgrid.getUserData(rId,"object"));
        //unselect row in usergrid
        m_usergrid.clearSelection();
        m_groupgrid.clearSelection();
    });  

    m_groupgrid.attachEvent("onRowSelect", function (rId){
        //show properties on the right side
        showGroupProps(m_groupgrid.getUserData(rId,"object"));
        //unselect row in usergrid
        m_usergrid.clearSelection();
        m_mainLayout.cells("c").expand();//permissions hide
    });  

    m_usergrid.attachEvent("onRowSelect", function (rId){
        //show properties on the right side
        //dhtmlx.message(JSON.stringify(m_usergrid.getUserData(rId,"object")));
        var userobj = m_usergrid.getUserData(rId,"object");
        showUserProps(m_usergrid.getUserData(rId,"object"),m_mainLayout.cells("d"));
        m_groupgrid.clearSelection();
        m_mainLayout.cells("c").collapse();//permissions hide

    });  
    
    //kick off data loading
    loaduserlist();
    loadusergrouplist();
    loadpermissionlist();
}

function showUserProps(userObj,layoutCellToAttach){
    var userPropLayout =  layoutCellToAttach.attachLayout("1C");

    userPropLayout.cells("a").setText("Groups of user: ["+userObj.username +"]");
    m_userPropsGrid = userPropLayout.cells("a").attachGrid();
    m_userPropsGrid.setImagePath("dependencies/dhtmlx/imgs");                 
    m_userPropsGrid.setHeader("Add Groups here");
    m_userPropsGrid.setInitWidthsP("*");          //the widths of columns  
    m_userPropsGrid.setColAlign("left");       //the alignment of columns   
    m_userPropsGrid.setColTypes("ro");                //the types of columns  
    m_userPropsGrid.setColSorting("str");          //the sorting types    
    m_userPropsGrid.enableDragAndDrop(true);
    m_userPropsGrid.init();      //finishes initialization and renders the grid on the page 
    m_userPropsGrid.setUserData("","userobject",userObj) //store group name
    m_userPropsGrid.attachEvent("onDrag",function(sid,tid){
    // copies an item instead of moving it
        m_userPropsGrid.dragContext.mode="copy"; 
        return true;
    });
    
    m_userPropsGrid.attachEvent("onDragIn", function(dId,tId,sObj,tObj){
        if(m_userPropsGrid.getRowIndex(dId) != -1){//if row exists, do not allow
           return false;
        }else{
            return true;
        }
    });
    
    m_userPropsGrid.attachEvent("onDrop",function(sId,tId,dId,sObj,tObj,sCol,tCol){
        if (sObj == m_groupgrid){//ok
            dhtmlx.message("saving userprops " + dId)
            var userObj = tObj.getUserData("","userobject");
            userObj.groups = [];
            tObj.forEachRow(function(rId){
                userObj.groups.push(rId)
            })
            saveUserProps(userObj);
        }else{//wrong source grid
            dhtmlx.message("Only Groups allowed")
            tObj.deleteRow(dId);
        }
    })
    
    userPropLayout.cells("a").detachMenu();
    for (let i in userObj.groups){
        m_userPropsGrid.addRow(userObj.groups[i],userObj.groups[i]);
    }
        
    _menu = userPropLayout.cells("a").attachMenu({                                               
		items:[
            {id:"del", text:"<i class='fas fa-trash'></i>Remove Group from User"}
		]
	});
    _menu.attachEvent("onClick", function (name, value, state){
        m_userPropsGrid.deleteSelectedRows();
        var userObj = m_userPropsGrid.getUserData("","userobject");
            userObj.groups = [];
            m_userPropsGrid.forEachRow(function(rId){
                userObj.groups.push(rId)
        })
        saveUserProps(userObj);
    })
    
}

function saveUserProps(userObj){
    console.log("saving UserProps",userObj)
    $.ajax({//updating a new user has a special method on server for NOT hashing password
        url:  ("/userlistupdateexisting"),
        type: "POST",
        context: this,
        dataType: "json",
        data: {"name":userObj.username,"password":userObj.password,"groups":userObj.groups},
        success: function () {
            loaduserlist();
            dhtmlx.message("Saved");
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not save usergrouplist, check server logs " );
            document.body.innerHTML="Fatal error, could not save usergrouplist. "+ xhr.responseText;
        }
    });
    
}

function removeGroupFromUser(uname,groupname){
    $.ajax({//updating a new user has a special method on server for NOT hashing password
        url:  ("/userlist_remove_group_from_user"),
        type: "DELETE",
        context: this,
        dataType: "json",
        data: {"username":uname,"groupname":groupname},
        success: function () {
            dhtmlx.message("Success removing " + groupname + " from " + uname);
        },
        error: function (xhr, status) {
            document.body.innerHTML="Fatal error, could not removeGroupFromUser. "+ xhr.responseText;
        }
    });
    
}

function showUsersInGroup(groupObj,layoutCellBase){
    var users_in_group = [];
    var groupName = groupObj.name;
    layoutCellBase.detachMenu();
    console.log("users_in_Group",users_in_group)
    var users_in_group_grid = layoutCellBase.attachGrid();
    users_in_group_grid.setImagePath("dependencies/dhtmlx/imgs");                 
    users_in_group_grid.setHeader("Username");//the headers of columns
    users_in_group_grid.setInitWidthsP("*");          //the widths of columns  
    users_in_group_grid.setColAlign("left");       //the alignment of columns   
    users_in_group_grid.setColTypes("ro");                //the types of columns  
    users_in_group_grid.setColSorting("str");          //the sorting types    
    users_in_group_grid.enableDragAndDrop(true);
    users_in_group_grid.enableMultiselect(true);
    users_in_group_grid.init();      //finishes initialization and renders the grid on the page 
    
    //add all users that have this group
    m_usergrid.forEachRow(function(rId){
        var _curUser = m_usergrid.getUserData(rId,"object");
        if (!_curUser.groups)
            return;
        if (_curUser.groups.indexOf(groupName) != -1){
            users_in_group_grid.addRow(_curUser.username,[_curUser.username])
            users_in_group_grid.setUserData(_curUser.name,"object",_curUser);
            users_in_group.push(_curUser)
        }
    });


    users_in_group_grid.setUserData("","groupobj",groupObj) //store group name
    users_in_group_grid.attachEvent("onDrag",function(sid,tid){
    // copies an item instead of moving it
    users_in_group_grid.dragContext.mode="copy"; 
        return true;
    });
    
    users_in_group_grid.attachEvent("onDragIn", function(dId,tId,sObj,tObj){
            //forbid drop if user already exists
            var newuser = sObj.getUserData(dId,"object");
            console.log("newuser",newuser);
            var allowdrop = true;
            users_in_group_grid.forEachRow(function(rId){
                var existing_username = rId;//rid is username in this grid
                if (existing_username == newuser.username){
                    allowdrop = false;
            }})
        return allowdrop;
    });

    users_in_group_grid.attachEvent("onDrop",function(sId,tId,dId,sObj,tObj,sCol,tCol){
        if (sObj == m_usergrid){
            var userObj = sObj.getUserData(sId,"object");
            //var userObj = tObj.getUserData("","userobject");
            //userObj.groups = [];
            console.log("Pushing group to user",groupObj.name);
            if (!userObj.groups)
                userObj.groups = [];;
            userObj.groups.push(groupObj.name)
  
            saveUserProps(userObj);
            //saveGroupProps();
        }else{//wrong source grid
            dhtmlx.message("Only Users allowed ")
            tObj.deleteRow(dId);
        }
    })

    return users_in_group_grid;

}

// on click to a group, show group properties and users
function showGroupProps(groupObj){

    var groupsPropLayout =  m_mainLayout.cells("d").attachLayout("2E");
    m_mainLayout.cells("d").detachMenu();
    var users_in_group_grid = showUsersInGroup(groupObj,groupsPropLayout.cells("a"));
    var _usernamemenu = groupsPropLayout.cells("a").attachMenu({                                               
		items:[
            {id:"del", text:"<i class='fas fa-trash'></i>Remove User from Group"},
		]
	});
    
    _usernamemenu.attachEvent("onClick", async function (name, value, state){
        /*remove user from group*/
        if (name == "del"){
            if (!users_in_group_grid.getSelectedRowId()){
                dhtmlx.message("Please select some users to delete");
                return;
            }

            var groupObj = m_groupPropsGrid.getUserData("","groupobj");
            var selectedIds = users_in_group_grid.getSelectedRowId().split(",");
            selectedIds.forEach(function(rowId){
                var username = users_in_group_grid.cells(rowId,0).getValue();
                var props = m_groupPropsGrid.getUserData(rowId,"object");
                var groupname = m_groupPropsGrid.getSelectedRowId();
                console.log("removing",username,"from",groupObj.name);
                removeGroupFromUser(username,groupObj.name);
            })
            users_in_group_grid.deleteSelectedRows();

        }
    });

    groupsPropLayout.cells("a").setText("Users in Group ["+groupObj.name +"] "); //{id:"del", text:"<i class='fas fa-trash'></i>Remove Group from User"}
    groupsPropLayout.cells("b").setText("Permissions of Group: ["+groupObj.name +"]");
    m_groupPropsGrid = groupsPropLayout.cells("b").attachGrid();
    m_groupPropsGrid.setImagePath("dependencies/dhtmlx/imgs");                 
    m_groupPropsGrid.setHeader("Permission");//the headers of columns
    m_groupPropsGrid.setInitWidthsP("*");          //the widths of columns  
    m_groupPropsGrid.setColAlign("left");       //the alignment of columns   
    m_groupPropsGrid.setColTypes("ro");                //the types of columns  
    m_groupPropsGrid.setColSorting("str");          //the sorting types    
    m_groupPropsGrid.enableDragAndDrop(true);
    m_groupPropsGrid.init();      //finishes initialization and renders the grid on the page 
    m_groupPropsGrid.setUserData("","groupobj",groupObj) //store group name

    m_groupPropsGrid.attachEvent("onDrag",function(sid,tid){
    // copies an item instead of moving it
        m_groupPropsGrid.dragContext.mode="copy"; 
        return true;
    });
    
    m_groupPropsGrid.attachEvent("onDragIn", function(dId,tId,sObj,tObj){
        if(m_groupPropsGrid.getRowIndex(dId) != -1){//if row exists, do not allow
           return false;
        }else{
            return true;
        }
    });
    m_groupPropsGrid.attachEvent("onDrop",function(sId,tId,dId,sObj,tObj,sCol,tCol){
        if (sObj == m_permissiongrid){//ok
            saveGroupProps();
        }else{//wrong source grid
            dhtmlx.message("Only Group Permissions allowed ")
            tObj.deleteRow(dId);
        }
    })
    
    //recreate delete menu
    groupsPropLayout.cells("b").detachMenu();
    var _permissionmenu = groupsPropLayout.cells("b").attachMenu({                                               
		items:[
            {id:"del", text:"<i class='fas fa-trash'></i>Remove Permission from Group"},
            {id:"edit", text:"<i class='fas fa-edit'></i>Edit"},
            {id:"up", text:"<i class='fas fa-arrow-up'></i>Move Up"},
            {id:"down", text:"<i class='fas fa-arrow-down'></i>Move Down"},
		]
	});
    
    
    m_groupPropsGrid.attachEvent("onRowSelect", function(id,ind){
        //usergroupprop selected, show or hide edit btn
        //check if item has a filter prop

        if (m_permissiongrid.getUserData(id,"object")["value"]["filter"]){
            _permissionmenu.setItemEnabled("edit");
        }else{
            _permissionmenu.setItemDisabled("edit");
        }

        
    });
    //usergroupprops menu onclick
    _permissionmenu.attachEvent("onClick", function (name, value, state){
        
        if (name == "edit"){
            editPermissionInGroupPropsGrid();
            return;
        }
        if (name == "up"){
            m_groupPropsGrid.moveRowUp(m_groupPropsGrid.getSelectedRowId());
        }
        if (name == "down"){
            m_groupPropsGrid.moveRowDown(m_groupPropsGrid.getSelectedRowId());
        }
        if (name == "del"){
            m_groupPropsGrid.deleteSelectedRows();
        }
        //save new data 
        var groupObj = m_groupPropsGrid.getUserData("","groupobj");
        groupObj.permissions = [];
        for (let i=0;i<(m_groupPropsGrid.getRowsNum());i++){
            var permObj = m_groupPropsGrid.getUserData(m_groupPropsGrid.getRowId(i),"object");
            groupObj.permissions.push(permObj)
        }
        saveUserGroupToServer(groupObj,true)
    })
    
    //create rows with existing data
    for (let i in groupObj.permissions){
        var _perm = groupObj.permissions[i];
        var displayname = _perm.key;
        if (displayname.indexOf("FILTER")!= -1){
            displayname = displayname + " ["+_perm["value"]["filter"] + "]";
        }
        m_groupPropsGrid.addRow(_perm.key,[displayname])
        m_groupPropsGrid.setUserData(_perm.key,"object",_perm);
    }
}

function editPermissionInGroupPropsGrid(){
//bring up window to allow filter configuration
    if (m_groupPropsGrid.getSelectedRowId().indexOf("FILTER")== -1){
        //dhtmlx.alert("Please select a FILTER item to edit");
        //return;
    }
    var currentFilter = m_groupPropsGrid.getUserData(m_groupPropsGrid.getSelectedRowId(),"object");
    var box = dhtmlx.modalbox({
        title:"Edit Filter",
        text: "This is an 'include' filter.<br/>Use .* to include everything and | to separate multiple<br/><br/>Filter Expression:<br/><input class='inform' type='text' value='"+currentFilter["value"]["filter"]+"'>",
        buttons:["OK",  "Cancel"],
        callback: function(result){
            if (result == 0){
                var input = box.getElementsByTagName("input")[0];
                //save data to server
                currentFilter["value"]["filter"] = input.value;
                saveGroupProps()
                showGroupProps(m_groupPropsGrid.getUserData("","groupobj"));
            }
        }
    });

}

//save group props on change
function saveGroupProps(){
    var groupObj = m_groupPropsGrid.getUserData("","groupobj");
    groupObj.permissions = [];
    m_groupPropsGrid.forEachRow(function(rId){
        groupObj.permissions.push(m_groupPropsGrid.getUserData(rId,"object"))
    })
    saveUserGroupToServer(groupObj,true)
}

function saveUserGroupToServer(groupObj,doreload){
    console.log("saveUserGroupToServer",groupObj)
    $.ajax({
        url:  ("/usergrouplist" + "?" + Math.random()) ,
        type: "POST",
        context: this,
        dataType: "json",
        data: groupObj,
        //data: JSON.stringify(_obj),
        success: function () {
            dhtmlx.message("Saved");
            if (doreload){loadusergrouplist()}
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not save usergrouplist, check server logs " );
            document.body.innerHTML="Fatal error, could not save usergrouplist. "+ xhr.responseText;
        }
    });                           
}

function loaduserlist(){
   $.ajax({
        url:  ("/userlist" + "?" + Math.random()) ,
        type: "GET",
        success: function (userlist) {
            //render userlist in grid
            m_usergrid.clearAll();
            userlist = JSON.parse(userlist);
            for (let i in userlist){
                var id = Math.random()
                m_usergrid.addRow(id,[userlist[i].username]);
                m_usergrid.setUserData(id,"object",userlist[i]);
            }
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not load userlist. " );
            document.body.innerHTML="Fatal error, could not load userlist. "+ xhr.responseText;
        }
    });
}

function loadusergrouplist(){
   $.ajax({
        url:  ("/usergrouplist") ,
        type: "GET",
        success: function (grouplist) {
            //render userlist in grid
            grouplist = JSON.parse(grouplist);
            m_groupgrid.clearAll();
            for (let i in grouplist){                
                m_groupgrid.addRow(grouplist[i].name,[grouplist[i].name]);
                m_groupgrid.setUserData(grouplist[i].name,"object",grouplist[i]);
            }
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not load usergrouplist. " );
            document.body.innerHTML="Fatal error, could not load usergrouplist. "+ xhr.responseText;
        }
    });
}

function loadpermissionlist(){
   $.ajax({
        url:  ("/usergrouprightslist" + "?" + Math.random()) ,
        type: "GET",
        success: function (permlist) {
            console.log(permlist)
            //render userlist in grid
            permlist = JSON.parse(permlist);
            console.log(permlist)
            m_permissiongrid.clearAll();
            for (let i in permlist){
                m_permissiongrid.addRow(permlist[i].key,[permlist[i].key]);
                m_permissiongrid.setUserData(permlist[i].key,"object",permlist[i]);
            }
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not load usergrouplist. " );
            document.body.innerHTML="Fatal error, could not load usergrouplist. "+ xhr.responseText;
        }
    });
}

function createusergroup(name){
   $.ajax({
        url:  "/usergrouplist" + "?" + Math.random() ,
        type: "POST",
        success: function () {
            //render userlist in grid
            dhtmlx.message("Saved");
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not save usergrouplist, check server logs " );
            document.body.innerHTML="Fatal error, could not save usergrouplist. "+ xhr.responseText;
        }
    });
}

function deleteusergoup(){
    if (!m_groupgrid.getSelectedRowId()){
        dhtmlx.message("Please select a row to delete");
        return;
    }
   $.ajax({
        url:  ("/usergrouplist" + "?" + Math.random()) ,
        type: "DELETE",
        dataType: "json",
        data: {"name":m_groupgrid.getSelectedRowId()},
        success: function () {
            //render userlist in grid
            loadusergrouplist();
            dhtmlx.message("Saved");
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not save usergrouplist, check server logs " );
            document.body.innerHTML="Fatal error, could not save usergrouplist. "+ xhr.responseText;
        }
    });
}


function deleteuser(){
    if (!m_usergrid.getSelectedRowId()){
        dhtmlx.message("Please select a row to delete");
        return;
    }
    var username = m_usergrid.getUserData(m_usergrid.getSelectedRowId(),"object")["username"];
    
   $.ajax({
        url: ("/userlist" + "?" + Math.random()),
        type: "DELETE",
        dataType: "json",
        data: {"name":username},
        success: function () {
            //render userlist in grid
            loaduserlist();
            dhtmlx.message("Saved");
        },
        error: function (xhr, status) {
            dhtmlx.message("Fatal error, could not delete user, check server logs " );
            document.body.innerHTML="Fatal error, could not delete user. "+ xhr.responseText;
        }
    });
}



</script>

</head>
<body onload="init()">
<div id="documentation" class="documentation" style="font-family:Tahoma;font-size:12px;margin-left:20px;white-space: pre-wrap">
<p><b>General:</b>

    User management is only used when Web Authentification is enabled in Admin settings.

<b>User management:</b>

    Select a user and drag&drop groups to the user (drag a grid row from left to right)

<b>Group management:</b>

    Select a group and drag&drop permissions to the group (drag a grid row from left to right)

<b>Filters:</b>

    FILTER_WORKFLOW_NAME 
        On "Job starter" page, the workflows a user can choose is filtered. 
        On "Job status" page, the displayed Jobs are filtered

    FILTER_WORKFLOW_GROUP 
        For "Job starter" page only, limits the workflow "folders" a user is able to choose from

    FILTER_WORKFLOW_VARIABLES 
        For "Job starter" page only, limits the existing workflow user variables that are displayed to the user after choosing the workflow

    FILTER_JOBSTATUS_BUTTONS
        Edit this item to filter Buttons (Resubmit, Job Details etc...) on the Job Status Page.

    FILTER_BROWSE_LOCATIONS
        Filters on registered "display names" of Browse Locations (Job Submitter). 

<b>Filter management:</b>

    Filters are configured per Group.

    How to use Filters:
        -) create a usergroup and add a Filter permission
        -) select the Filter in the Permissions list (right side) and hit Edit button

    Filter rules:
        -) We "include" matching data, not "exclude". If you want to "exclude", you need to use a complex regex (e.g. "(?!^ABC$)")
        -) If you create a filter that results in "no item (workflow) being shown", we automatically fall back and show ALL items
        -) Filter strings are regular expressions, case insensitive
        -) If you create an invalid regular expression, no workflows can be loaded

<b>Filter Regular expression (regex) hints:</b>

    No need to care about how regex works when you just want to allow a certain job name e.g. "Lowres" is perfectly fine without knowledge of regex. It would show all workflows that contain Lowres anywhere in the name.

    -) DO NOT USE "*" but instead use ".*?" (typically you do not need to specify this anyway)
    -) use the "|" (which means OR in regex) to specify multiple conditions
    -) avoid special characters like &, slashes and backslashes
    -) avoid ".", in regex . means "one character"

        Examples:
            "Lowres": Match all Worfklows that contain the word Lowres
            "Lowres|Highres": Match all Worfklows that contain the word "Lowres or Highres"
            ".*?": Match all workflows




</p>
</div>
</body>