#untrack database

release
tools/prometheus/data
tools/prometheus/data/wal/
database/
server.exe
alternate-server/
alternate-server.old/
*.log
*.zip
*.db
*.log.*
!node_modules/@azure/msal-node/node_modules/uuid/dist/
!node_modules/https-proxy-agent/dist
!node_modules/agent-base/dist
logs
audit
/dist/