<html>
<head>

<link rel="stylesheet" href="/alternate-server/css/override.css"/>
<script src="../../dependencies/jquery/jquery.js"></script>
<link rel="icon" href="favicon.ico?v=1.1">
<link rel="stylesheet" href="../../dependencies/fontawesome/css/all.css" />
<link href="../../dependencies/bootstrap/bootstrap-4.6.0-dist/css/bootstrap.min.css" rel="stylesheet" >
<script src="../../dependencies/bootstrap/bootstrap-4.6.0-dist/js/bootstrap.bundle.min.js" ></script>
<script src="../../dependencies/fancytree/jquery.fancytree-all-deps.min.js"></script>
<link rel="stylesheet" href="../../dependencies/fancytree/skin-lion/ui.fancytree.min.css"/>
<link rel="stylesheet" href="../../dependencies/dhtmlx/dhtmlx.css" type="text/css"/>

<style>
    /* it's important to set width/height to 100% for full-screen init */
    html, body {
        width:100%;
        height:100%
        margin: 0 px;
        overflow: hidden;
    }

	hr {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  border: 0;
	  border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
    div, label, input{
        font-size:12px; 
       
    }
    form{
        width:100%
    }
    
    label{
        display:block;
    }
    legend{
        width:initial;
    }
   
</style>

<script>
    /* GLOBALS */
    var m_serverconfig, m_userpermissions;

    /*load config from server*/
    function loadserverconfig() {
        $.ajax({
            url: ("/getuserpermissions" + "?" + Math.random()),
            type: "GET",
            success: function(response) {

                m_userpermissions = JSON.parse(response);
                //load serverconfig and initialize page
                $.ajax({
                    url: ("/getserverconfig" + "?" + Math.random()),
                    type: "GET",
                    success: function(response) {
                        console.log("got server conf")
                        m_serverconfig = JSON.parse(response);
                        init();
                    },
                    error: function(xhr, status) {
                        document.body.innerHTML = "Fatal error, could not load serverconfig. " + xhr.responseText;
                    }
                });
            },
            error: function(xhr, status) {
                document.body.innerHTML = "Fatal error, could not load serverconfig. " + xhr.responseText;
            }

        });

    }

        
    /* build basic page layout and init periodic job loading*/
    function init() {

        //check if html5 features supported
        if (typeof(Storage) !== "undefined") {} else {
            alert("ERROR, no html5 store support, cannot save view state")
        }
		//button hover style
		$("div").hover(function(){
		  $(this).parent().addClass("dhxform_btn_over");  //Add the active class to the area is hovered
		}, function () {
		  $(this).parent().removeClass("dhxform_btn_over");
		});
		
        //load currently configured metris clients
        $.ajax({
            url: ("/metrics_control" + "?" + Math.random()),
            type: "GET",
            success: function(response) {
                //transform response to fancytree compatible
                var fancytreeobj = [];
                try{
                    console.log(response["data"]["activeTargets"])
                   for (i=0;i<response["data"]["activeTargets"].length;i++){
                        var _cur = response["data"]["activeTargets"][i];
                        fancytreeobj.push({"title":_cur["labels"]["instance"],"state":_cur["health"]});
                         
                   }  
                   
                }catch(ex){
                    alert("" + ex)
                }
                
                buildHostsGrid(fancytreeobj)
            },
            error: function(xhr, status) {
                document.body.innerHTML = "Fatal error, could not load metrics_setup. Is Metrics Collector (Prometheus) server running?<br/>" + xhr.responseText;
                document.body.innerHTML += "<br><br>If you already have a Metrics server running, please go to admin configuration on the left and enter the hostname of METRICS_HOST";
                document.body.innerHTML += "<br><br>Or do you want to try and install Metrics Services (Prometheus and Grafana) on the Machine where this Webinterface is running on?";
                document.body.innerHTML += "<br/><br/><input style='margin-left:20px;width:30%' type='submit' onclick='install_prometeus()' value=' Install '/>";
            }

        });

    }
    
    
    function buildHostsGrid(setup_json){
    	
        //var sourceUrl = "testdata.xml";
        $("#treetable_hosts").fancytree({
            extensions: [ "table", "gridnav", "multi"],
            icon: false,
            checkbox: false,
            titlesTabbable: true, // Add all node titles to TAB chain
            source: setup_json,
            table: {
                indentation: 15,
                nodeColumnIdx: 0,
            },
            gridnav: {
                autofocusInput: false,
                handleCursorKeys: true
            },
            multi: { //multiselct
                mode: "",
            },
            init: function(event, data) {
                //ENABLE RESIZE COLUMNS
                console.log("TREE INIT")
            },
            renderColumns: function(event, data) {
                var node = data.node;
                node.addClass("act_row"); //for context menu
                if (data.node.getIndex() % 2 == 0) {
                    node.removeClass("odd_dhx_skyblue"); //apply dthmlx style to node
                    node.addClass("ev_dhx_skyblue"); //apply dthmlx style to node
                } else {
                    node.removeClass("ev_dhx_skyblue"); //apply dthmlx style to node
                    node.addClass("odd_dhx_skyblue"); //apply dthmlx style to node
                }

                $tdList = $(node.tr).find(">td");
                //title is hostname
                $tdList.eq(1).html("<div class='celltext' title='"+ node.data.state +"'>" + node.data.state + "</div>"); //.addClass("alignRight");

            },
            postProcess: function(event, data) {
				
            },
            dblclick: function(event, data) {},
            select: function(event, data) {
                if (data.node.isSelected()) {
                    data.node.addClass("rowselected");
                } else {
                    data.node.removeClass("rowselected");
                }
            },

        })

    }
    
    function install_prometeus(){
        $.ajax({
            url: ("/metrics_control" + "?" + Math.random()),
            type: "PUT",
            success: function(response) {
                //transform response to fancytree compatible
                alert(success);
            },
            error: function(xhr, status) {
                document.body.innerHTML = "Error installing: <br/>" + xhr.responseText;
                document.body.innerHTML += "<br/><br/>Please try to install the service manually: webinterface/tools/install_metrics_server.bat"
                
            }

        });
    }
    
    function build_new_api_url(what) {
        if (JSON.parse(m_serverconfig['STATIC_USE_PROXY_URL'])) {
            return "/new_proxy" + what;
        } else {
            var _url = "http://" + m_serverconfig['STATIC_API_HOST'] + ":" + m_serverconfig['STATIC_API_NEW_PORT'] + what;
            return _url;
        }
    }

</script>

<body onload="loadserverconfig()" >

<div class="dhxform_base">
    <form class="dhxform_obj_dhx_skyblue" style="width:90%" >
        <div class="fs_dhxform_item_label_top" style="padding-left: 20px !important; padding-top: 20px !important; ">
            <fieldset class="dhxform_fs" style="padding-left:20px">
                <legend class="fs_legend" >General</legend>
                <div class="form-group dhxform_label dhxform_label_align_left">
                    <label for="grafanaurl_jobs">Job Metrics Grafana Url</label>
                    <input type="text" class="dhxform_textarea" id="grafanaurl_jobs" >
                    
                </div>
                <div class="form-group dhxform_label dhxform_label_align_left">
                    <label for="grafanaurl_hosts">Host Metrics Grafana Url </label>
                    <input type="text" class="dhxform_textarea" id="grafanaurl_hosts" >
                    <small id="help1" class="form-text text-muted">If you create your own Grafana Dashboards, enter the links here.</small>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input " id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                  
                <div class="dhxform_btn" role="link" tabindex="0" dir="ltr" style="width: 150px;">
                    <div class="dhxform_btn_txt dhxform_btn_txt_autowidth">Save</div>
                    <div class="dhxform_btn_filler" disabled="true"/>
                </div>               
                  
            </fieldset>
            
            <fieldset class="dhxform_fs" style="padding-left:20px;margin-top:20px">
                <legend class="fs_legend" >Hosts</legend>
                    <div id="active_div" style="" class="gridbox_dhx_skyblue gridbox">
                        <table id="treetable_hosts" class="obj">
                            <colgroup id="colgroup_active" >
                                <col width="5%"></col>
                                <col width="10%"></col>      
                            </colgroup>
                            <thead class="dhtmlxMenu_dhx_skyblue_Middle" style="border:none">
                                <tr id="tr_treetable_active">
                                    <th id="host-name" name="name" onclick="sortGrid('treetable_hosts',this.id)" data-sort_dir="" >        <i id="active-state-sorticon" name="treetable_hosts-sorticon" ></i>Hostname</th>
                                    <th id="host-state" name="workflow" onclick="sortGrid('treetable_hosts',this.id)" data-sort_dir="">   <i id="active-workflow-sorticon" name="treetable_hosts-sorticon" ></i>State</th>
                                 </tr>
                            </thead>
                        </table>
                    </div>
                
            </fieldset>
        
        </div>

    </form>
</div>
</body>
