<html>
<head>
<link rel="stylesheet" href="/alternate-server/css/override.css"/>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="../dependencies/dhtmlx/dhtmlx.css" id="theme_loader" type="text/css">
<script>
    //theme changeer
    if (localStorage.global_skin_dark == "1"){
        try{
            document.querySelector("#theme_loader").href = document.querySelector("#theme_loader").href.replace("dhtmlx.css","dhtmlx_benjamin.css")
        }catch(ex){}
        try{
            dhx.setTheme("dark");
        }catch(ex){}
        try{
            dhx8.dhx.setTheme("dark");
        }catch(ex){}
    }
</script>
<script src="../dependencies/jquery/jquery.js"></script>
<link rel="stylesheet" href="../dependencies/fontawesome/css/all.css"/>
<link href="../dependencies/bootstrap/5.0.0-beta3/css/bootstrap.min.css" rel="stylesheet" >
<script src="../dependencies/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js" ></script>

<style>
    /* it's important to set width/height to 100% for full-screen init */
    html  {

        margin: 5px;
        overflow: scroll;
    }
	hr {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  border: 0;
	  border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
    div, label, input{
        font-size:12px; 
        width: 300px !important;
    }
	input[type=checkbox] {
	 
	  cursor: pointer;
	  width: 30px !important;
	  height: 15px;
	  margin-left: -2em!important;
	}

    form{
        width:100%
    }

</style>

<script>

/* GLOBALS */
var m_mainLayout,m_mainForm, m_serverconfig;
var socket = io({ path: "/ws" });
/* build basic page layout and init periodic job loading*/
function init(){
    socket.on('email_tester', function(msg){
		alert(msg);
    });
	
	registerButtonClicks();
    restoreMailConfig();
}

function loadserverconfig() {
	
	$.ajax({
		url: ("/getserverconfig" + "?" + Math.random()),
		type: "GET",
		success: function(response) {
			console.log("got server conf")
			m_serverconfig = JSON.parse(response);
			console.log("SERVERCONFIG:",m_serverconfig)
			init();
		},
		error: function(xhr, status) {
			dhtmlx.message("Fatal error, could not load serverconfig. ");
			document.body.innerHTML = "Fatal error, could not load serverconfig. " + xhr.responseText;
		}
	});
}

function registerButtonClicks(){
	
	$( "#btn_save" ).click(function(event) {
		event.preventDefault();
		saveConfig();
	});
	$( "#btn_test" ).click(function(event) {
		testConfig();
	});
    $('#btn_test,#test_rcpt,#test_subject,#test_body').on("keypress", function(e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            testConfig();
        }
    });   
    
    //button hover style
    $("div").hover(function(){
          $(this).parent().addClass("dhxform_btn_over");  //Add the active class to the area is hovered
      }, function () {
          $(this).parent().removeClass("dhxform_btn_over");
      });
}

function testConfig(){
	console.log("starting test");
    var o_testmail = {};
    o_testmail["test_rcpt"] = document.getElementById("test_rcpt").value;
    o_testmail["test_subject"] = document.getElementById("test_subject").value;
	o_testmail["test_body"] = document.getElementById("test_body").value;
	
	document.getElementById("testresult").innerHTML = "Loading... if this does not finish in <1 second, you most likely have DNS problems resolving your domain fqdn\nYou can wait for the 60 second timeout if you like to tough... It should say ETIMEDOUT\nIn that case, ping the FQDN you entered and resolve the problems";
	$.ajax({
		url: ("/admin_alert_email_tester" + "?" + Math.random()),
		type: "POST",
		data: o_testmail,
		success: function(response) {
			console.log("TEST OK",response);
			try{
				response= JSON.parse(response);
				response = JSON.stringify(response, undefined, 2);
			}catch(ex){
			
			}
			document.getElementById("testresult").innerHTML = response;
			
		},
		error: function(xhr, status) {
			console.log("TEST FAIL");
			document.getElementById("testresult").innerHTML = xhr.responseText;
		}
	});
}

function restoreMailConfig(){

	if ("email_alert_config" in m_serverconfig){
		document.getElementById("email_alert_rcpt").value = m_serverconfig["email_alert_config"]["email_alert_rcpt"];
	}

}
function saveConfig(){
	var o_mail = {};
	o_mail["email_alert_rcpt"] = document.getElementById("email_alert_rcpt").value;
	console.log("saving",o_mail["email_alert_rcpt"])
	m_serverconfig["email_alert_config"] = o_mail;
    
	$.ajax({
		url: ("/adminconfig"),
		type: "POST",
		data: m_serverconfig,
		success: function(response) {
			$('#alert').css("display","")
			setTimeout(function () {
	  
				// Closing the alert
				$('#alert').css("display","none")
			}, 1000);
			parent.window.m_needreload = true;//reload parent window so it updates the new config
		},
		error: function(xhr, status) {
			console.log("Error saving config!" + xhr.responseText);
			alert("Error saving config!\n"+ xhr.responseText);
		}
	});

}
/* */

</script>

</head>
<body onload="loadserverconfig()" style="overflow:hidden;margin-left:20px">
<!-- Flash msg -->
<div id="alert" class="alert alert-success" style="opacity:5;position:absolute;display:none;margin-top:20px;z-index:1">
	Saved
</div>


<!-- Configuration Form -->
<div class="alert alert-secondary" role="alert">
Note that the smtp server configuration is done in FFAStrans Workflow Manager application.
</div>
<form class="dhxform_obj_dhx_skyblue">
	<div class="row mb-3">
		<div class="col-sm-4">
		<label for="email_alert_rcpt" class="col-sm-0 dhxform_label dhxform_label_align_left">Send Alert Emails to:</label>  
		<div class="dhxform_item_label_top" style=""><div class="dhxform_txt_label2"></div></div>
		<input type="text" class="form-control form-control-sm"  id="email_alert_rcpt" placeholder="admin1@acme.com,admin2@acme.com">
		<div class="dhxform_obj_dhx_skyblue dhxform_btn dhxform_btn_filler" >
			<div class="dhxform_btn_txt dhxform_btn_txt_autowidth" id="btn_save">Save</div>
		</div>
		</div>
	</div>

</form>

<!-- Test Form -->
<form class="dhxform_obj_dhx_skyblue">
<div class="row mb-3">
	<div class="col-sm-4">
		<label for="test_mail_to" class="col-sm-0 dhxform_label dhxform_label_align_left">Test Email to:</label>
		<div class="dhxform_item_label_top" style=""><div class="dhxform_txt_label2"></div></div>
		<input type="text" class="form-control form-control-sm"  id="test_rcpt" placeholder="administrators@acme.com">
		
		<div class="dhxform_item_label_top" style=""><div class="dhxform_txt_label2"></div></div>
		<label for="test_mail_subj" class="col-sm-0 dhxform_label dhxform_label_align_left" >Test Subject:</label>
		<div class="dhxform_item_label_top" style=""><div class="dhxform_txt_label2"></div></div>
		<input type="text" class="form-control form-control-sm"  id="test_subject" placeholder="This is a test email"/>
		<!-- alternate username to get groups for -->
		<div class="dhxform_item_label_top" style=""><div class="dhxform_txt_label2"></div></div>
		<label for="test_mail_body" class="col-sm-0 dhxform_label dhxform_label_align_left"> Test Body:</label>
		<div class="dhxform_item_label_top" style=""><div class="dhxform_txt_label2"></div></div>
		<input type="text" class="form-control form-control-sm"  id="test_body" placeholder="Please ignore this mail"/>
		<div class="dhxform_obj_dhx_skyblue dhxform_btn dhxform_btn_filler" >
			<div class="dhxform_btn_txt dhxform_btn_txt_autowidth" id="btn_test">Test</div>
		</div>
	</div>

    
</div><!--inputs -->
<!-- Testresult Display -->
<div  style="width:90%;" class="card-header">Testresult:</div>
<pre  style="width:90%;height:200px" class="form-control form-control-sm"  id="testresult"></pre>
</form>
</body>