<html>
<head>
<link rel="stylesheet" href="/alternate-server/css/override.css"/>
<script src="../../dependencies/jquery/jquery.js"></script>
<link rel="icon" href="favicon.ico?v=1.1">
<link rel="stylesheet" href="../../dependencies/fontawesome/css/all.css" />

<link rel="stylesheet" href="../../dependencies/dhtmlx/8.4.5/suite.min.css" type="text/css"/> 
<script src="../../dependencies/dhtmlx/8.4.5/suite.umd.js"></script>
<script src="../../dependencies/dhtmlx/dhtmlx.js"></script>
<link rel="stylesheet" href="../../dependencies/dhtmlx/dhtmlx.css" id="theme_loader" type="text/css">
<script>
    //theme changeer
    if (localStorage.global_skin_dark == "1"){
        try{
            document.querySelector("#theme_loader").href = document.querySelector("#theme_loader").href.replace("dhtmlx.css","dhtmlx_benjamin.css")
        }catch(ex){}
        try{
            dhx.setTheme("dark");
        }catch(ex){}
        try{
            dhx8.dhx.setTheme("dark");
        }catch(ex){}
    }
</script>

<style>
    /* it's important to set width/height to 100% for full-screen init */
    html, body {
        width:100%;
        height:100%;
        margin: 0 px;
        overflow: hidden;
    }

	hr {
	  margin-top: 1rem;
	  margin-bottom: 1rem;
	  border: 0;
	  border-top: 1px solid rgba(0, 0, 0, 0.1);
	}
    div, label, input{
        font-size:12px; 
       
    }
    form{
        width:100%
    }
    
    label{
        display:block;
    }
    legend{
        width:initial;
    }
   
</style>


<script>
/* stores jobviewer config in localStorage, reloads page on change */
function init(){
    const config = {
        //type: "wide",//"line" | "wide" | "space" | "none";
		width:"100%", height:"100%",rows:
		[
			{
				rows: [
					{
						id: "options_layout_cell",
						resizable:false,
						height:"100%",
						padding: "0px",  
						margin: "0px",
					}
				]
			}
		]
	}
    m_mainLayout = new dhx8.dhx.Layout("optsform", config);

    
	var manual_form_config = {
    
    // sets alignment for rows
    align: "start", // "center", "end", "between", "around", "evenly"
    padding: "20px",   
	height: "100%",
	
    rows: [
        {
				padding: "10px", 
				rows:[
						{
							name:"jobviewer_rows_per_page", 
                            type: "input",
                            inputType:"number",
                            
                            max: 1000,
                            min:1,
                            label: "Rows per Page:",
                            labelPosition: "left",labelWidth: "140",
                            value: localStorage.getItem("jobviewer_rows_per_page") || "100",
                            width: 220
						},
                        {
							name:"jobviewer_showrowcolors_history", 
                            type: "checkbox",
                            label: "Row Colors:",
                            labelPosition: "left",labelWidth: "140",
                            checked:localStorage.getItem("jobviewer_showrowcolors_history")=="1",
						},
                        {
							name:"global_skin_dark", 
                            type: "checkbox",
                            label: "Dark Skin:",
                            labelPosition: "left",labelWidth: "140",
                            checked:localStorage.getItem("global_skin_dark")=="1",
						},
						{type: "spacer",name: "spacer",height:10},
                        {cols: [
                                {type:"button", css:"dhxform_obj_dhx_skyblue", id:"btn_save","hidden":false,name: "btn_save", width:100,value:"Save"},
                        ]},
					
				],
			
			}
		]
	}
	m_mainForm = new dhx8.dhx.Form(null, manual_form_config);
    m_mainLayout.getCell("options_layout_cell").attach(m_mainForm);

    m_mainForm.events.on("click", function(name,e){
		if(name == "btn_save"){
            let values = m_mainForm.getValue();
            console.log("values",values)
            Object.keys(values).map(k=>{
                if (k=="global_skin_dark"){
                    values[k] = values[k] == true ? "1" : false; //for legacy reasons we store 1 instead of true
                }
                if (k=="jobviewer_showrowcolors_history"){
                    values[k] = values[k] == true ? "1" : false; //for legacy reasons we store 1 instead of true
                }
                localStorage.setItem(k,values[k]);
            });
            parent.window.parent.window.location.reload();
        }
	});	

    return;


};




</script>

</head>

<body onload="init()">
    <div id="optsform">

</div> 
</body>

</html>