<html>
<head>
<link rel="stylesheet" href="/alternate-server/css/override.css"/>
<script src="../../dependencies/jquery/jquery.js"></script>
<link rel="icon" href="favicon.ico?v=1.1">
<link rel="stylesheet" href="../../dependencies/fontawesome/css/all.css" />

<link rel="stylesheet" href="../../dependencies/dhtmlx/8.0.0/suite.css" type="text/css"/> 
<link rel="stylesheet" href="../../dependencies/dhtmlx/dhtmlx.css" type="text/css"/> 
<script src="../../dependencies/dhtmlx/8.0.0/suite.umd.js"></script>

<script src="../../dependencies/fancytree/jquery.fancytree-all-deps.min.js"></script>
<link rel="stylesheet" href="../../dependencies/fancytree/skin-lion/ui.fancytree.min.css"/>

<style>
    /* it's important to set width/height to 100% for full-screen init */
    html, body {
        width:100%;
        height:100%;
        margin: 0px;
        overflow: hidden;
    }

   
</style>

<script>
/* stores jobviewer config in localStorage, reloads page on change */

async function init(){
    //LAYOUT
    const layout = new dhx8.dhx.Layout(document.body, {
    type: "wide",
    rows: [
            { id: "toolbar", height: "content" },
            {
                id: "grid",
            },
        ]
    });
    //GRID
    const grid = new dhx8.dhx.Grid(null, {
        columns: [
            { id: "type",           header: [{ text: "Type" }], width: 60  },
            { id: "mount",          header: [{ text: "Root" }], width: 60   },
            { id: "name",           header: [{ text: "Name" }] },
            { id: "sizeFriendly",   header: [{ text: "Size" }] },
            { id: "use",            header: [{ text: "Used" }] }
        ],
        editable: false,
        autoWidth: true,
        resizable: true,
        selection:"row"
    });

    layout.getCell("grid").attach(grid);
    // GRID EVENTS
    grid.events.on("cellDblClick", function () {
        selectRow(grid);
    });

    //toolbar
    const toolbar_cfg = [
        {
            id: "btnselect",
            type: "button",
            value: "Select",
            icon: "mdi mdi-cogs",
            size: "small",
            color: "secondary",
            css: "dhxform_obj_dhx_skyblue"
        }
    ]
    const toolbar = new dhx8.dhx.Toolbar(null, {
        css:"dhx_widget--bordered"
        });
    toolbar.data.add(toolbar_cfg);
    toolbar.events.on("click", function(id,e){
        if(id == "btnselect")
            selectRow(grid)
    });

    layout.getCell("toolbar").attach(toolbar);

    //LOAD DATA
    layout.getCell("grid").progressShow();

    var localDrives;
    try{
        localDrives = await $.ajax({url: "/getlocaldrives", type: "GET"});
        
    }catch(ex){
        console.log(ex)
        showAlert("Unexpected error, see Console");
    }
    grid.data.parse([]);
    grid.data.parse(localDrives);
    layout.getCell("grid").progressHide();
    
}

function selectRow(grid){
    
    let selectedCells = grid.selection.getCells();
    if (selectedCells.length == 0){
        showAlert("No drive selected");
    }

    var grid_row = selectedCells[0].row;
    parent.postMessage(grid_row.mount);
}

function showAlert(msg){
    const config = {
        header: "Alert",
        text: msg,
        buttons: ["apply"],
        buttonsAlignment: "center"
    };
    dhx8.dhx.alert(config);
}


</script>

</head>

<body onload="init()">
    
</div> 
</body>

</html>