<html>

	<head>
		<meta charset="UTF-8">

			<script src="../../dependencies/jquery/jquery.js"></script>
			<script src="../../dependencies/jquery/jquery_timecode_mask.js"></script>
			<script src="/socket.io/socket.io.js"> </script>
			<script src="jsmpeg-master/jsmpeg.min.js"> </script>
			<script src="jquery/dragcheck.js"> </script>

			<link rel="stylesheet" type="text/css" href="../../dependencies/fontawesome/css/all.css"></link>
			<link href="../../dependencies/MaterialDesign-Webfont-7.2.96/css/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
			<link rel="stylesheet" href="../../dependencies/dhtmlx/8.0.0/suite.css" type="text/css"/> 
			<script src="../../dependencies/dhtmlx/8.0.0/suite.umd.js"></script>
				<script src="../../dependencies/dhtmlx/dhtmlx.js"></script>
				<link rel="stylesheet" href="../../dependencies/dhtmlx/dhtmlx.css" id="theme_loader" type="text/css">
				<script>
					//theme changeer
					if (localStorage.global_skin_dark == "1"){
						window.setTimeout(function(){
							try{
								document.querySelector("#theme_loader").href = document.querySelector("#theme_loader").href.replace("dhtmlx.css","dhtmlx_benjamin.css")
							}catch(ex){}
							try{
								dhx.setTheme("dark");
							}catch(ex){}
							try{
								dhx8.dhx.setTheme("dark");
							}catch(ex){}
						},100)
						
					}
				</script>
			<style>
			html, body {
				width: 100%;
				height: 100%;
				margin: 0px;
				overflow: hidden;
				font-family: "Tahoma";
				font-size: 11px;
				--preview-display : "none";
				user-select:none;
			}
			
			input{
				font-size: 11px;
			}

			div.gridbox_dhx_skyblue.gridbox table.obj{
				font-size:11px;
			}

			.player-btns {
				display:inline-block;
				white-space: nowrap;
			} 

			.player-btns .mdi {
				font-size:35px;
			} 

			.player-btns .mdi:hover{
				/* font-size:37px; */
				/* position:fixed; */
				/* transform: scale(1.1) */
			} 
			
			.noSelect {
				-webkit-tap-highlight-color: transparent;
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}

			.noSelect:focus {
				outline: none !important;
			}

			
			.grayBackgroundOnHover:hover{
				font-size:2.9em;
			}

			.flexContainer{
				display: flex;
			}
			.flexFixed{
				width: 150px;
			}
			.flexGrow{
				flex-grow: 1;
			}

			.canvasContainer{
				width: calc(100vw - 150px) ;
				height: calc(100vh - 100px) ;
				background-color: #2D3039 ;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.playerControls{
				position:static
			}
			.vertical-center{
				justify-content: center;
    			display: flex;
			}

			.Row {
				display: table;
				width: 270px; /*Optional*/
				table-layout: fixed; /*Optional*/
				
			}
			.Column {
				display: table-cell;
				width:20px;
				max-width:20px
			}

			/* Audio Checkbox*/
						
			.audio_check_td { 
				border:0 !important;
				padding:0 !important;
				height:14px !important;
			}

			.audio_check_label{
				outline:1px #6e6e6e solid !important;
				display: inline-block;
				width: 18px;
				height: 12px;
				font-size:12px;
				text-align: center;
				line-height: 1;
			}

			.audio_check_td input[type=checkbox]{
				display:none;
				margin:0 !important;
			}

			.audio_check_td input[type=checkbox]:checked + .audio_check_label{
				outline:1px #22B81C solid;
				background-color: rgba(51, 159, 51, 0.557);
				color:black;
			}
			/* Analyze Buttons */
			.analyze_tools_btn {
				position: relative;
				cursor: pointer;
				padding-left:4px;
				font-size: 8px;
				width: 43px;
				height:18px;
				margin-bottom:4px;
			}
			
			.analyze_tools_label {
				display: flex;
				align-items: center;
				pointer-events: none;
			}
			
			.analyze_tools_led_green {   
				margin-top: 2px;
				margin-left: 0px;
				border-radius: 50%;
				box-shadow: #000 0 -1px 2px 1px;
				width: 5px;
				height: 5px;
				pointer-events: none;
			}
			
			.analyze_tools_led_on > .analyze_tools_label > .analyze_tools_led_green {/* */  
				background-color: #80FF00;
			}

			.analyze_tools_led_off > .analyze_tools_label > .analyze_tools_led_green {/* */  
				background-color: "unset"
			}

			</style>
			
			<script>
var socket = io(); 
var m_player;
var m_ffprobe;
var g_framerate = 0;
var reversePlayInterval = null;
var m_query_params = new URLSearchParams(window.location.search);
var m_last_player_status;
var m_forcePauseAfterNext = false;
var m_seekTwice = false;
var allAudioBuffer = new ArrayBuffer(0)
//global hotkeys
window.addEventListener("keydown", hotKey);

var m_closefunc=function(){alert("close function not attached")}

function hotKey(event){
	if (event.isComposing || event.keyCode === 27){//esc
		m_closefunc();
	} //space
    	
   if (event.isComposing || event.keyCode === 32 || event.keyCode === 75) //space
    	playPause()
   if (event.isComposing || event.keyCode === 39) //right arrow
    	frameStepForward()
   if (event.isComposing || event.keyCode === 37) //right arrow
    	frameStepBack()
   if (event.isComposing || event.keyCode === 38 || event.keyCode === 76) //up arrow or l
    	faster()
   if (event.isComposing || event.keyCode === 40 || event.keyCode === 74) //down arrow or j
    	slower()
  	  // do something
}

var concatTypedArrays = function(buffer1, buffer2) {
  var tmp = new Uint8Array(buffer1.byteLength + buffer2.byteLength);
  tmp.set(new Uint8Array(buffer1), 0);
  tmp.set(new Uint8Array(buffer2), buffer1.byteLength);
  return tmp.buffer;
};

function initAnalyzeBtns(){
	/* register events and restore defaults from localStore */
	
	$("button[class*='analyze_tools_btn']").on("click",function(evt){
		$(evt.target).removeClass("analyze_tools_led_on");
		$(evt.target).removeClass("analyze_tools_led_off");

		if ($(evt.target).attr("data-state") == "on"){
			//ON
			$(evt.target).attr("data-state","off");
			$(evt.target).addClass("analyze_tools_led_off");
			//restart player with the new configuration
			playerRemoveAnalyzeTool($(evt.target).attr("id").replace("analyze_",""));
		}else{
			//OFF
			$(evt.target).attr("data-state","on");
			$(evt.target).addClass("analyze_tools_led_on") ; //there is a css listening to this data attrr
			//restart player with the new configuration
			playerAddAnalyzeTool($(evt.target).attr("id").replace("analyze_",""));
		}
		//store state to localstorage
		console.log("setting localstorage",$(evt.target).attr("id"),$(evt.target).attr("data-state"))
		localStorage[$(evt.target).attr("id")] = $(evt.target).attr("data-state");
		$(evt.target).blur();
	});

	if (localStorage["analyze_vec"]){
		$("#analyze_vec").attr("data-state",localStorage["analyze_vec"]);
		$("#analyze_vec").addClass("analyze_tools_led_" +localStorage ["analyze_vec"]);
	}
	if (localStorage["analyze_wfm"]){
		$("#analyze_wfm").attr("data-state",localStorage["analyze_wfm"]);
		$("#analyze_wfm").addClass("analyze_tools_led_" +localStorage ["analyze_wfm"]);
	}
	if (localStorage ["analyze_audioVu"]){
		$("#analyze_audioVu").attr("data-state",localStorage["analyze_audioVu"]);
		$("#analyze_audioVu").addClass("analyze_tools_led_" + localStorage ["analyze_audioVu"]);
	}

	/*quality drowpdown*/
	//restore user defaults on page load
	const qualitySelection = document.getElementById('quality_selection');

	qualitySelection.addEventListener('change', function(event) {
		const selectedValue = event.target.value;
		localStorage ["quality_selection"]  = selectedValue;
		console.log("changing quality",selectedValue);
		$("select").blur();//remove focus for player keyboard nav
		playerCommandSetQuality(JSON.stringify(getOutputResolution(selectedValue)));
		localStorage["player_output_resolution"] = JSON.stringify(getOutputResolution(selectedValue));
		initJsMpeg();//re-init player because it needs to analyze the new resolution

	});
	if (localStorage["quality_selection"]){
		document.getElementById('quality_selection').value = localStorage["quality_selection"];
	}
}

function getOutputResolution(stringHeight){
	var newQuality = {width:1920,height:1080};;
	if (stringHeight == "1080")
		newQuality = {width:1920,height:1080};
	if (stringHeight == "720")
		newQuality = {width:1280,height:720};
	if (stringHeight == "512")
		newQuality = {width:896,height:512};
	if (stringHeight == "280")
		newQuality = {width:512,height:280};
	return newQuality;
}

function initJsMpeg(){
	m_player = new JSMpeg.Player(null,//null
				{
					source: JSMpegWritableSource,
					videoBufferSize: 0,
					audioBufferSize: 0,
					streaming: true,
					disableWebAssembly:true,
					pauseWhenHidden:false,//does not work, chrome doesnt want to do this
					canvas:document.getElementById('playerCanvas'),
					loop: true, 
					autoplay: true, 
					onVideoDecode:function(what,time){
						//console.log("Videodecode",what,time)
					}
				});
}

function load(){
			initAnalyzeBtns();
			document.getElementById("iconPlay").focus();
			
			//initialize the player stuff
			var buf = [];
			initJsMpeg()
			
			socket.emit("player", JSON.stringify({
                "file":	m_query_params.get("file"),
				"analyzeTools":{
					audioVu: 	$("#analyze_audioVu").attr("data-state") == "on"? true:false,
					wfm:		$("#analyze_wfm").attr("data-state") == "on"? true:false,
					vec:		$("#analyze_vec").attr("data-state") == "on"? true:false
				},
				"outputWidth" : localStorage["player_output_resolution"] ? JSON.parse(localStorage["player_output_resolution"]).width : 1280, 
				"outputHeight": localStorage["player_output_resolution"] ? JSON.parse(localStorage["player_output_resolution"]).height : 720, 
			})); 
			
			socket.on('ffprobe', function (ffprobe) {
					// player analyzes the file before starting the process
					// we use this initial analysis data for display file props on UI
					m_ffprobe = ffprobe;
					var firstVstream = getFirstTrack(ffprobe,"video");
					var firstAstream = getFirstTrack(ffprobe,"audio");
					var _resolution = "";
					g_framerate = 25;
					var _interlacing = "";

					if(firstVstream){
						g_framerate = eval(firstVstream["r_frame_rate"]);
						_resolution = firstVstream["width"] + "x" + firstVstream["height"] ;
						document.getElementById("info-res").innerHTML = "Resolution: " + _resolution;
						if (firstVstream["field_order"]){
							_interlacing = firstVstream["field_order"]
							if (_interlacing == "progressive")
								_interlacing = "p"
						}else{
							_interlacing = "p";
						}
						document.getElementById("info-fps").innerHTML = "Framerate: " + g_framerate.toFixed(2) +  _interlacing;
						//resize video canvas to expected aspect ratio
						//start by count all audio channels
						let atracks 	= ffprobe.streams.filter(s => s.codec_type=="audio")
						let allTracks 	= atracks.map(t=>t.channels);
						let allChannels = 0;
						allTracks.forEach(function(t){allChannels+=t})

						if (!m_last_player_status){
							//try estimate target aspect to avoid visual aspect changing between showing first frame and receiving the final aspect from mpv
							m_last_player_status = {"video-out-params":{}}
							console.log(firstVstream)
							//25 is what showvolume filter in player.js adds for each audio channel
							m_last_player_status["video-out-params"].aspect = (firstVstream.width + (allChannels * 25))/firstVstream.height; 
							console.log("--------------------",(firstVstream.width) )
							videoCanvasResize()
							m_last_player_status["video-out-params"] = {};
						}

					}else{
						
						document.getElementById("info-fps").innerHTML = "Sample Rate [0]: " + firstAstream.sample_rate || "";
						document.getElementById("info-res").innerHTML = "Codec [0]: " + firstAstream.codec_name || "";
					}

					document.getElementById("info-atracks").innerHTML = "Audio Tracks: "+ ffprobe.streams.filter(stream => stream.codec_type=="audio").length;

					buildAudioTable(ffprobe)
					
					showLoadingDiv.style.display="none";
			});

			let inCounter = 0;
			//let samplebuffer = []

			var currentReportingSecondStart;
			var initReporting = {bytespersecond:0} //count per second
			var firstPacketDate;
			var reporting;

			socket.on('videodata', function (data) {
				// push binary ts stream to player
				//allAudioBuffer = concatTypedArrays(allAudioBuffer,data)
				if (!firstPacketDate){
					firstPacketDate = new Date();
					currentReportingSecondStart = firstPacketDate;
					reporting = initReporting;
				}
				if (new Date() - currentReportingSecondStart > 1000 ){
					//throw out reporting, reset "one second (time)" check
					currentReportingSecondStart = new Date();
					//Megabits per second = Bytes per second x 0.000008
					console.log( parseFloat(reporting.bytespersecond * 0.000008).toFixed(2) + " Mbit/s packets from mpv");
					reporting = JSON.parse(JSON.stringify(initReporting));
				}
				reporting.bytespersecond += data.byteLength
				
				//Write transport stream packet to players decoder
				m_player.source.write(data,function(){});
			});

			socket.on('playererror', function (data) {
					dhtmlx.alert("Player Error: " + JSON.stringify(data))
			});

			socket.on('property-change', function (data) {
				
				var status = data;
				if (!status)
					return
				if (!m_last_player_status)
					m_last_player_status = {}
				if (JSON.stringify(m_last_player_status["video-out-params"]) != JSON.stringify(status["video-out-params"])){
					//inform video canvas about new dimensions
					if (status["video-out-params"] && status["video-out-params"].aspect){
						m_last_player_status = status;
						videoCanvasResize()
					}	
				}
				//m_last_player_status = status;
				
				if (status.duration){
					//duration from mpv can vary with every frame!
					let _timecode = SMPTEToString(secondsToSMPTE(status["time-pos"],g_framerate))
					document.getElementById("currentTime").value = _timecode;
					let _duration = SMPTEToString(secondsToSMPTE(status.duration,g_framerate))
					document.getElementById("totalTime").value = _duration;
					let msPerFrame = 1000/g_framerate;
					let sliderMax =  status.duration * 100 - msPerFrame;
					if (document.getElementById("slider").max != sliderMax){
						//update slider max and tickmarks
						console.log("slidermax",sliderMax)
						document.getElementById("slider").setAttribute("max",sliderMax);
						let tickmarks = document.getElementById("tickmarks");
						tickmarks.innerHTML = "";
						for (let i=0;i<=sliderMax;i+=sliderMax/20){
							tickmarks.appendChild(new Option('', i.toFixed(0)))
						}
					}

				}
				if (status.speed){
					if (status["play-direction"] == "forward")
						document.getElementById("rate_display").innerHTML = status.speed
					else			
						document.getElementById("rate_display").innerHTML = "- "+status.speed
				}else{
					document.getElementById("rate_display").innerHTML = ""
				}
				try{
					if (status.root.rate >= 1){
						document.getElementById("rate_display").innerHTML = Math.round(status.root.rate);					
					}else{
						var _rt = status.root.rate.toFixed(2);
						document.getElementById("rate_display").innerHTML = _rt;
					}
				}catch(ex){
				
				}
				//if ($('#slider:hover').length == 0){
					//prevent slider update on hover
					//update slider positon
					 var percentage = status["time-pos"];
					 document.getElementById("slider").value = percentage*100;
				//}
		
				$( "#iconPlay" ).toggleClass( "fa-play-circle ", status.pause );
				$( "#iconPlay" ).toggleClass( "fa-pause-circle ", !status.pause );
				if (m_forcePauseAfterNext){
					
					socket.emit("player", JSON.stringify({"command": "forcepause"}));
					m_forcePauseAfterNext = false;
				}
				// if (m_forcePauseAfterZero && status["time-pos"] == 0){
				// 	socket.emit("player", JSON.stringify({"command": "forcepause"}));
				// 	m_forcePauseAfterZero = false;
				// }

			});
			
			document.addEventListener("visibilitychange", function() {
				//if page is hidden, do not continue playing, otherwise jsmpeg just caches frames and when page is visible again, it tries to slow forward to now because pauseWhenHidden does not work for our usecase
				console.log(document.hidden, document.visibilityState);
				socket.emit("player", JSON.stringify({"command": "forcepause"}));
				// if (document.hidden){
				// 	socket.emit("player", JSON.stringify({"command": "forcepause"}));
				// }
			}, false);
			
			//EVENTS
			attachEvents()
}


function buildAudioTable(ffprobe){
	//build audio checkboxes table
	var atracks = ffprobe.streams.filter(s => s.codec_type=="audio")
	var allChCount = atracks.map(t=>t.channels);
	function add(a, b) {
		return a + b;
	}

	var tableContainer = document.getElementById('audio_selection_container');
	tableContainer.innerHTML += "Channel Selection:"
	var table = document.createElement('table');
	table.id = "audio_check_table";
	table.style = 'style="display:inline-block"';
	var cCount = 0;

	for (let t=0;t<atracks.length;t++){
		var row = document.createElement('tr');
		for (let c=0;c<atracks[t].channels;c++){
			let td = document.createElement('td');
			let checked = cCount < 2 ? "checked" : "";
			let tdhtml 	 = '<input type="checkbox" value='+cCount+' id="'+cCount+'" '+checked+'/><label class="audio_check_label" for="'+cCount+'">'+(cCount+1)+'</label>';
			td.innerHTML = tdhtml;
			td.classList.add('audio_check_td');
			row.appendChild(td);
			cCount++;
		}
		table.appendChild(row);
	}
	
    tableContainer.appendChild(table);            
	if (atracks.length != 0){
		tableContainer.innerHTML += '<div style="width:100%"><input value="Apply" id="applyAudioChannels" type="submit" style="margin:5; display: block;margin:0 auto;font-size:10px"  onclick="changeAudioTrack()"></div></div>';
		$("#audio_check_table").dragCheck('.audio_check_td');
	}

}

function countTracks(ffprobe,type="audio"){
	var acount = 0;
	for (var i=0;i<ffprobe["streams"].length;i++){
		if (ffprobe["streams"][i]["codec_type"] == type){
			acount++;
		}
	}
	return acount;
}

function getFirstTrack(ffprobe,type="video"){
	for (var i=0;i<ffprobe["streams"].length;i++){
		if (ffprobe["streams"][i]["codec_type"] == type){
			return ffprobe["streams"][i];
		}
	}
	return false;
}


function attachEvents(){
			//slider
	document.getElementById("slider").addEventListener ('input', function (evt) {
		playerCommandSeek(document.getElementById("slider").value/100 );
		evt.cancelBubble = true;
		evt.preventDefault();
	});

	const playerCanvasResizeObserver = new ResizeObserver(entries => videoCanvasResize());

	const md = document.getElementById("canvasContainer");
	playerCanvasResizeObserver.observe(md);

}

function videoCanvasResize()
{

		var ar = 16/9 //aspect ratio default
		try{
			console.log("m_last_player_status",m_last_player_status["video-out-params"])
			if (m_last_player_status["video-out-params"].aspect)
				ar = m_last_player_status["video-out-params"].aspect;
		}catch(ex){}

		let containerHeight = document.getElementById("canvasContainer").offsetHeight;//bottom controls always stay
		let containerWidth = document.getElementById("canvasContainer").offsetWidth; //right side width always stays
		
		//check if height or width needs to be altered to match ar.numxar.den
		if (containerHeight * ar < containerWidth){
			//use full heigth but reduce width to ar
			console.log("reducing canvas height to match container width",containerWidth,containerHeight,ar)
			document.getElementById("playerCanvas").style.width 	= containerHeight * ar;
			document.getElementById("playerCanvas").style.height 	= containerHeight ;
		}else{
			console.log("reducing canvas width to match height",containerWidth,containerHeight,ar)
			//use full width we but reduce height
			document.getElementById("playerCanvas").style.width 	= containerWidth;
			document.getElementById("playerCanvas").style.height 	= containerWidth /ar;
		}
	}

function playerAddAnalyzeTool(which){
	socket.emit("player", JSON.stringify({
                "command": "addAnalyzeTool",
				"val" : which
			}));
	window.setTimeout(function(){
		initJsMpeg()
	},500)
}

function playerRemoveAnalyzeTool(which){
	socket.emit("player", JSON.stringify({
                "command": "removeAnalyzeTool",
				"val" : which
			}));
	window.setTimeout(function(){
		initJsMpeg()
	},500)
}

function playerChangeAtrackCommand(trackArray){
	socket.emit("player", JSON.stringify({
                "command": "setAudioTrackArray",
				"val" : trackArray //mpv track starts at 1
			}));
}

function playerCommandSetRate(newRate){
	socket.emit("player", JSON.stringify({
                "command": "rate",
                "val": encodeURIComponent(newRate)
			}));
}

function playerCommandSetQuality(newQual){
	socket.emit("player", JSON.stringify({
                "command": "setQuality",
                "val": newQual
			}));
}

function slower(){
	var currentRate = document.getElementById("rate_display").innerHTML;
	if (currentRate.indexOf("-") != -1){
		currentRate = currentRate.replace("-","")
	}else{
		//player is in forward mode, reset it
		currentRate = 1;
	}

	if (currentRate > 3)
		return
	currentRate = parseFloat(currentRate);
	if (currentRate < 0 || currentRate == 1)
		currentRate = 0.2
	else
		currentRate *= 2
	socket.emit("player", JSON.stringify({"command": "fastbackward","val": currentRate}));

}

function faster(){
	var currentRate = document.getElementById("rate_display").innerHTML;
	if (currentRate.indexOf("-") != -1){
		//player is in backward mode, reset it
		currentRate = currentRate.replace("-","")
		currentRate = 1;
	}

	currentRate = parseFloat(currentRate);
	if (currentRate > 3)
		return
	if (currentRate < 0 || currentRate == 1)
		currentRate = 0.2
	else
		currentRate *= 2
	currentRate * 2;
	socket.emit("player", JSON.stringify({"command": "fastforward","val": currentRate}));
}

function frameStepBack(){
	socket.emit("player", JSON.stringify({"command": "forcepause"}));
	socket.emit("player", JSON.stringify({
                "command": "frameStepBack",
                "val": 1
            }));
}

function frameStepForward(){
	socket.emit("player", JSON.stringify({"command": "forcepause"}));
	socket.emit("player", JSON.stringify({
                "command": "frameStepForward",
                "val": 1
            }));
}

function playerCommandSeek(where){

		//disable slider updates, otherwise seek only works sporadically
		console.log("emit seek",where)


		socket.emit("player", JSON.stringify({
                "command": "seek",
                "val": where
            }));
		if (m_last_player_status.pause){
			socket.emit("player", JSON.stringify({"command": "forceplay"}));
			m_forcePauseAfterNext = true;
		}
		
}

function playPause(){
	if (reversePlayInterval){
		window.clearInterval(reversePlayInterval);
	}
	playerCommandSetRate("1");
	socket.emit("player", JSON.stringify({
                "command": "play"
            }));
}

function seekToFirst(){
	//playerCommandSeek(0);
	socket.emit("player", JSON.stringify({"command": "forceplay"}));
	playerCommandSeek(0);
	let seekToFirstDone = {value:false}
	if (m_seekTwice){
		m_seekTwice = false;
		window.setTimeout(function(){seekToFirst()},500)
	}
	m_forcePauseAfterNext = true;
	//m_forcePauseAfterZero = true;
}

function seekToLast(){
	playerCommandSeek(m_last_player_status.duration-0.5);
	window.setTimeout(function(){
		socket.emit("player", JSON.stringify({"command": "forceplay"}));
	},500
	)
}

/** Convert seconds to SMPTE timecode JSON object, example input is html video.currentTime */
function secondsToSMPTE(seconds, framerate) {
    var f = Math.floor((seconds % 1)  * framerate);
    var s = Math.floor(seconds);
    var m = Math.floor(s / 60);
    var h = Math.floor(m / 60);
    m = m % 60;
    s = s % 60;
    return {h: h, m: m, s: s, f: f};
}

function setInPoint(){
	let where = document.getElementById("currentTime").value;
	document.getElementById("markIn").value = where;
}

function setOutPoint(){
	let where = document.getElementById("currentTime").value;
	document.getElementById("markOut").value = where;

}

async function takeSegment(){
	let inpoint 	= document.getElementById("markIn").value;
	let outpoint 	= document.getElementById("markOut").value;
	if (outpoint < inpoint){
		await dhx8.dhx.alert({
            header: "Error",
            text: "out < in",
            buttons: ["Ok"]
        })
		return
	}
	if (!inpoint.match(/^\d\d:\d\d:\d\d:\d\d$/) || !outpoint.match(/^\d\d:\d\d:\d\d:\d\d$/)){
		dhtmlx.alert("Inpoint and Outpoint must be in format 00:00:00:00");
		return
	}
	let file = m_query_params.get("file");

	//convert to ffmpeg compatible
	g_framerate
	var in_frames 	= inpoint.match(/(\d\d)$/)[1]
	var out_frames 	= outpoint.match(/(\d\d)$/)[1]
	var in_seconds 	=  ((1000/g_framerate) * in_frames * 0.001).toFixed(2).replace(/^0./,"") ;
	var out_seconds	=  ((1000/g_framerate) * out_frames * 0.001).toFixed(2).replace(/^0./,"") ;
	var final_in 	= inpoint.match(/^(........)/)[1] + "." + in_seconds
	var final_out 	= outpoint.match(/^(........)/)[1] + "." + out_seconds
    var final_in_frames = SMPTE_to_frames(inpoint,g_framerate)
	var final_out_frames = SMPTE_to_frames(outpoint,g_framerate)
	parent.window.addSegmentRow(file,final_in,final_out,final_in_frames,final_out_frames);
}

function SMPTE_to_frames(timecode, frameRate) {
    // Split the timecode into its components
    const [hours, minutes, seconds, frames] = timecode.split(':').map(Number);

    // Convert hours, minutes, and seconds to total seconds
    const totalSeconds = (hours * 3600) + (minutes * 60) + seconds;

    // Calculate the total number of frames
    const totalFrames = (totalSeconds * frameRate) + frames;

    return totalFrames;
}

function takeFile(){

	let file = m_query_params.get("file");
	parent.window.addFileRow(file);
}

/** Pretty print SMPTE timecode JSON object */
function SMPTEToString(timecode) {
    if (timecode.h < 10) { timecode.h = "0" + timecode.h; }
    if (timecode.m < 10) { timecode.m = "0" + timecode.m; }
    if (timecode.s < 10) { timecode.s = "0" + timecode.s; }
    if (timecode.f < 10) { timecode.f = "0" + timecode.f; }
	
    return timecode.h + ":" + timecode.m + ":" + timecode.s + ":" + timecode.f;// + ":" + timecode.f;
}

function capitalizeFirstLetter(string) {
  return string.charAt(0).toUpperCase() + string.slice(1)
}

function changeAudioTrack(){
	let checkboxes = $('#audio_check_table').find(':checkbox');
	let selected_ch = checkboxes.filter(':checked');
	console.log("checkboxes",selected_ch);
	//selected_ch = selected_ch.map(box => function(box){return box.attr('id')+""}).get()
	var ids = []
	for(let i=0;i<selected_ch.length;i++){
		ids.push(parseInt($(selected_ch[i]).attr("id")));
	}

	console.log("checkboxes",ids);
	var values = $('#changeAudioTrack').val();
	console.log("selected achannels",values);
	playerChangeAtrackCommand(ids);
	document.getElementById("applyAudioChannels").blur();
	
}



</script>

		</head>
		<body onload="load();"><!-- this contentwindow enables hotkeys -->
			<div id="maindiv" style="width: 100%; overflow: hidden;" class="flexContainer">
				<div style="float:left" id="video_and_controls" class="flexGrow">
						
						<div id="canvasContainer" class="canvasContainer">
							<canvas id="playerCanvas"  class="playerCanvas" onclick="" ></canvas>
						</div>
						<div id="playerControls" class="playerControls">
							<div id="seekContainer" style="margin-top:5px">
								<table style="width:100%;font-size:11px">
									<tr>
										<td>
											<div style="float:left">Position: <input style="width:70px" id="currentTime"  readonly value='00:00:00:00'/></div>
										</td>
										<td>
											<div style="width: 100%;text-align: center;">Rate: <div id="rate_display" style="display:inline">1</div><div style="display:inline">x</div></div>
										</td>
										<td>
											<div style="float:right">Duration: <input style="width:70px" id="totalTime" readonly style="float:right" class="" value="00:00:00:00" style="display:flex;float:right"/></div>
										</td>
									</tr>
								</table>
								
								
								
								<div class="slidecontainer">
									<input type="range" id="slider" onfocus="this.blur()" style="width:100%" min="0" max="100" value="0" class="slider" onchange="" list=tickmarks></input>
									<datalist id=tickmarks>
										
									</datalist>
								</div>
							</div>
							<div id="controlButtons" class="vertical-center noSelect">
								<div class="player-btns Row">
									<div class="column"><span class="mdi mdi-page-first" 	title="First Frame" 	onclick="m_seekTwice=true;seekToFirst()"></span></div>
									<div class="column"><span class="mdi mdi-rewind" 		title="Fast backward"	onclick="slower()"></span></div>
									<!-- <i style="margin:3px;text-shadow:-2px 2px rgb(0 0 0 / 15%);cursor:pointer" title="slower" id="iconSlow" 		class="fas fa-backward 				fa-3x grayBackgroundOnHover" onclick="slower()"></i> -->
									<!-- <i style="margin:3px;text-shadow:-2px 2px rgb(0 0 0 / 15%);cursor:pointer" title="-10s" id="iconStepMinus" 	class="fas fa-step-backward 		fa-3x grayBackgroundOnHover" onclick="frameStepBack()"></i> -->
									<div class="column"><span class="mdi mdi-step-backward" title="Frame backward" 	onclick="frameStepBack()"></span></div>
									<div class="column"><i style="margin:3px;text-shadow:-2px 2px rgb(0 0 0 / 15%);cursor:pointer" title="play/pause" id="iconPlay" 	class="fas fa-play-circle 			fa-3x grayBackgroundOnHover" onclick="playPause()"></i></div>
									<!-- <i style="margin:3px;text-shadow:-2px 2px rgb(0 0 0 / 15%);cursor:pointer" title="+10s" id="iconStepPlus" 		class="fas fa-step-forward 	 		fa-3x grayBackgroundOnHover" onclick="frameStepForward()"></i> -->
									<!-- <i style="margin:3px;text-shadow:-2px 2px rgb(0 0 0 / 15%);cursor:pointer" title="faster" id="iconFaste" 		class="fas fa-forward 				fa-3x grayBackgroundOnHover" onclick="faster()"></i> -->
									<div class="column"><span class="mdi mdi-step-forward" 	title="Frame forward"	onclick="frameStepForward()"></span></div>
									<div class="column"><span class="mdi mdi-fast-forward" 	title="Fast forward"	onclick="faster()"></span></div>
									<div class="column"><span class="mdi mdi-page-last" 	title="Last Frame" 		onclick="seekToLast()"></span></div>
									
									<div class="column"><span class="mdi mdi-fullscreen" 	style="" title="Fullscreen" onclick="document.getElementById('playerCanvas').webkitRequestFullScreen();"></span></div>
								</div>
							<!-- </div> -->

							</div>

						</div>
					

				</div>

			<!--right side-->
			
			
			<div style="margin-left: 10px;margin:5px;width:150px" id="rightSide" class="flexFixed">
				<button class="analyze_tools_btn" id="analyze_vec" data-state="off"><div class="analyze_tools_label"><div class="analyze_tools_led_green"></div><div></div><div style="margin-left:4px">VEC</div></div></button>
				<button class="analyze_tools_btn" id="analyze_wfm" data-state="off"><div class="analyze_tools_label"><div class="analyze_tools_led_green"></div><div></div><div style="margin-left:4px">WFM</div></div></button>
				<button class="analyze_tools_btn" id="analyze_audioVu"  data-state="off"> <div class="analyze_tools_label"><div class="analyze_tools_led_green analyze_tools_led_on"></div><div></div><div style="margin-left:4px">VU</div></div></button>

				<div style="margin-bottom:4px">
					<span title="If you encounter dropouts, select lower Quality">Quality: </span>
					<select name="quality_selection" id="quality_selection" title="If you encounter dropouts, select lower Quality">
						<option value="1080">Full (HD)</option><!-- 1920x1080 -->
						<option value="720" selected>High (720)</option><!-- 1280x720 -->
						<option value="512">Med (512)</option><!-- 896x512 -->
						<option value="280">Low (280)</option><!-- 512x280 -->
				  	</select>
				</div>
				<div style="" class="gridbox_dhx_skyblue gridbox">
					<table cellpadding="0" cellspacing="0" class="obj row20px" style="width: 100%; table-layout: fixed;">
						<tbody>
							<tr class=" odd_dhx_skyblue">
								<td align="left" valign="middle" id="info-res"></td>
							</tr>
							<tr class=" ev_dhx_skyblue">
								<td align="left" valign="middle" id="info-fps"></td>
							</tr>
							<tr class=" odd_dhx_skyblue">
								<td align="left" valign="middle" id="info-atracks"></td>
							</tr>
							<tr class=" ev_dhx_skyblue">
								
								<td align="left" valign="middle" id="audio_selection_container" style="overflow:auto"> 
									<!-- AUDIO CHANNELS GO HERE -->
								</td>
								
							</tr>
						</tbody>
					</table>
				</div>
				<div style="height:20px"></div>
				<div id="markInOutButtons" class="gridbox_dhx_skyblue gridbox" style="padding:5px;">
					<span style="margin-bottom:5px" class="player_text_segment">Segment</span><br/>
					<table style="font-size:12px">
						<tr>
							<td><input type="submit" onclick="setInPoint();this.blur()" style="font-size:10px;width:30px;height: 20px" value="In"  ></input></td><td><!-- data-timecodeinputmask is from jquery_timecode_mask.js -->
								<input style="width:70px" id="markIn" data-timecodeinputmask data-timecodeinputmask-framerate="60"></input></td>
						</tr>
						<tr>
							<td><input type="submit" onclick="setOutPoint();this.blur()" style="font-size:10px;width:30px;height: 20px" value="Out" ></input></td><td>
								<input style="width:70px" id="markOut" data-timecodeinputmask data-timecodeinputmask-framerate="60"> </input></td>
						</tr>
					 
					
					</table>
					<input type="submit" value="Take Segment" onclick="takeSegment()" style="margin-top:5px;height: 20px;margin-left:27px;font-size:10px"></input>
				
				</div>
				<input type="submit" value="Take File" onclick="takeFile()" style="position:absolute;bottom:2;;height: 20px;right:4;margin:5px"></input>




				<!-- <button id="create">Create file</button> <a download="info.txt" id="downloadlink" style="display: none">Download</a>
				<script>
					
					var makeTextFile = function (text) {
						var blob = new Blob([allAudioBuffer]);
						datablob = window.URL.createObjectURL(blob);

						return datablob;
					
					}

					create.addEventListener('click', function () {
						var link = document.getElementById('downloadlink');
						link.href = makeTextFile();
						link.style.display = 'block';
					}, false);

				</script> -->

			</div>
		</div>
			<video id="audioplayer" controls width="80%" style="display:none"></video>

			<div class="dhx_progress-bar" id="showLoadingDiv"><svg viewBox="25 25 50 50" class="dhx_spinner"><circle cx="50" cy="50" r="20" class="path"></circle></svg></div>
			</body>
		</html>